# # ValidationResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**member_names** | **string[]** |  | [readonly]
**error_message** | **string** |  | [optional]

[[Back to Model list]](../../README.md#models) [[Back to API list]](../../README.md#endpoints) [[Back to README]](../../README.md)
