# # Verification

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**provider** | **string** | The identity provider that was used to perform the Verification, if any | [optional]
**fail_code** | [**\Trinsic\Connect\Model\VerificationFailCode**](VerificationFailCode.md) | If the Verification is in state &#x60;VerificationFailed&#x60;, this field contains the reason for failure | [optional]

[[Back to Model list]](../../README.md#models) [[Back to API list]](../../README.md#endpoints) [[Back to README]](../../README.md)
